Source: pyenv
Section: python
Priority: optional
Maintainer: Yamashita Yuu <peek824545201@gmail.com>
Build-Depends: debhelper (>= 9), ruby-ronn
Standards-Version: 3.9.5
Homepage: https://github.com/yyuu/pyenv
Vcs-Git: git://github.com/yyuu/pyenv.git
Vcs-Browser: https://github.com/yyuu/pyenv

Package: pyenv
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, curl, build-essential, libssl-dev, zlib1g-dev
Recommends: libbz2-dev, libreadline6-dev, libsqlite3-dev
Suggests: autoconf, automake, libtool, git-core
Description: simple per-user Python version manager
 pyenv lets you easily switch between multiple versions of Python. It's
 simple, unobtrusive, and follows the UNIX tradition of single-purpose
 tools that do one thing well.
