#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

override_dh_auto_install:
	mkdir -p debian/pyenv/usr/share/man/man1
	ronn --roff --warnings debian/*.1.ronn
	dh_auto_install

get-orig-source:
	uscan --download-current-version --force-download --rename
